*~
*.aux
*.bak
*.cache
*.cfg
*.config
*.crt
*.csv
*.dot
*.err
*.exe
*.hi
*.ho
*.hprof
*.iml
*.key
*.lnk
*.lock
*.log
*.msi
*.o
*.obj
*.pem
*.pfx
*.prof
*.user
*.xz

# Directories
.bloop/
.bsp/
.gradle/
.hash/
.idea/
.metals/
.mvn/
.project/
.settings/
.stack-work/
.vscode/
build/
Debug/
obj/
out/
Release/
target/

# Claude specific
.claudeignore
CLAUDE.md
CLAUDE*local.md
.claude/

# Project specific
errinfo.$$$
*_LOCAL.ini
*_LOCAL.json
*_LOCAL.md
*_LOCAL.txt
*_LOCAL/
